@import 'var.scss';

@font-face {
  font-family: "Inter";  
  src: url("./Inter/Inter-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 400;
}

@font-face {
  font-family: "Forum";  
  src: url("./Forum/Forum-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 300;
}

%flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $black-color;
  text-decoration: none;
  list-style: none;

}

.header {
  background-color: $black-color;
  color: $white-color;
  padding: 20px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.section-container {
  padding: 0 20px;
}

.header-container {
  @extend %flex-row;
  gap: 60px;
}

.logo {
  color: $white-color;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
  font-family: 'Forum', serif;
  transition: 1s;

  &:hover {
    color: $brown-color;
  }
}

.header-right {
  @extend %flex-row;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  max-width: 652px;
}

.nav {
  flex-grow: 1;
  max-width: 584px;
}

.nav-list {
  @extend %flex-row;
  gap: 10px;
}

.nav-list__link {
  color: $white-color;
  font-size: 20px;
  line-height: 50px;
  font-family: 'Inter', sans-serif;
  transition: 1s;

    &:hover {
      color: $brown-color;
    }
}

.profile {
  cursor: pointer;
}

.welcome {
  background: url(../images/welcome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 220px;
  padding-bottom: 160px;
}

.welcome__title {
  width: 600px;
  padding: 35px 40px;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $white-color;
  background-color: $dark-black-color;
  text-align: center;
  font-family: 'Forum', serif;
}

.title {
  color: $dark-black-color;
  font-family: 'Forum', serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
  padding: 20px 0px 61px 0px;
  position: relative;
}

.title::after {
  content: "";
  height: 1px;
  width: 50px;
  background-color: $black-color;
  top: 80px;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
}

.description {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
}

.corusel {
  padding: 20px 0px 40px 0px;
  @extend %flex-row;
}

.corusel-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding-bottom: 40px;
}

.corusel-control__item {
  width: 16px;
  height: 16px;
  background-color: $dark-black-color;
  border-radius: 50%;
}

.corusel-control__item--active {
  background-color: $brown-color;
}

.favorites_description {
  padding-bottom: 40px;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.favorites label {
  padding-left: 20px;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.radio-list {
  padding-bottom: 39px;
  display: flex;
  flex-direction: row;
  gap: 95px;
}

.books-list {
  @extend %flex-row;
  flex-wrap: wrap;
  padding-right: 40px;
  gap: 40px 0px;
}

.book {
  position: relative;
  width: 550px;
  height: 555px;
  border: 1px solid $black-color;
  padding: 15px 20px;
}

.category {
  position: relative;
  font-family: $forum-font;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.category::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  bottom: 0px;
  left: 0px;
  background-color: $brown-color;
}

.book_name {
  padding-top: 18px;
  font-family: $inter-font;
  font-size: 15px;
  line-height: 40px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
}

.book_author {
  font-family: $inter-font;
  font-size: 15px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.book_description {
  font-family: $inter-font;
  width: 355px;
  padding-top: 20px;
  font-size: 15px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.book__img {
  position: absolute;
  bottom: 0px;
  right: -40px;
}

.book_buy {
  position: absolute;
  bottom: 15px;
  width: 75px;
  height: 30px;
  text-align: center;
  font-family: $inter-font;
  font-size: 10px;
  letter-spacing: 1px;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid $dark-black-color;
  cursor: pointer;
  transition: 1s;

  &:hover {
    background-color: $brown-color;
    border: 1px solid $brown-color;
  }
}